<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.library.dao.BookDao">
    <select id="findAllBooks" resultType="com.example.library.model.Book">
        select *
        from book
    </select>
    <!--    删除书籍-->
    <delete id="deleteBookById">
        delete
        from book
        where bid = #{bid}
    </delete>
    <!--    添加书籍-->
    <insert id="addBook">
        insert into book(bookname, author, booktype, publisher, publicationdate, price, bookstate, comment)
        values (#{bookname}, #{author}, #{booktype}, #{publisher}, #{publicationdate}, #{price}, #{bookstate},
                #{comment})
    </insert>
    <!--    借阅书籍-->
    <update id="updateBookByBid">
        update book
        set bookstate='2'
        where bid = #{bid}
    </update>
    <!--    归还书籍-->
    <update id="upBookByBid">
        update book
        set bookstate='1'
        where bid = #{bid}
    </update>
    <!-- 查询书籍类型-->
    <select id="queryBookType" resultType="java.util.Map">
        select *
        from book_dictionary
    </select>
    <!-- 查询书籍-->
    <select id="queryBooksByPage" resultType="com.example.library.model.Book">
        select * from book where 1=1
        <if test="bookname != null and bookname != ''">
            and bookname=#{bookname,jdbcType=VARCHAR}
        </if>
        <if test="authorname != null and authorname != ''">
            and author=#{authorname,jdbcType=VARCHAR}
        </if>
        <if test="list != null and list.size()>0">
            and booktype in
            <foreach collection="list" index="index" item="item" open="(" separator="," close=")">
                #{item,jdbcType=VARCHAR}
            </foreach>
        </if>
    </select>

    <insert id="insertBooks" parameterType="java.util.List">
        insert into book(bookname, author, booktype, publisher, publicationdate, price, bookstate, comment)
        values
        <foreach collection="books" index="" item="item" separator=",">
            (
            #{item.bookname,jdbcType=VARCHAR}, #{item.author,jdbcType=VARCHAR}, #{item.booktype,jdbcType=VARCHAR},
            #{item.publisher,jdbcType=VARCHAR}, #{item.publicationdate,jdbcType=VARCHAR},
            #{item.price,jdbcType=INTEGER},
            #{item.bookstate,jdbcType=VARCHAR}, #{item.comment,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>
    <select id="checkBook" resultType="java.lang.Integer">
        select 1
        from book
        where bookname = #{bookname}
          and author = #{author} limit 1
    </select>
    <update id="updateBookAmount">
        update book set total = total + 1 ,
        <if test="type == '1'">
            last_reserve= last_reserve + 1
        </if>
        where bookname = #{bookname}
        and author = #{author}
    </update>
    <insert id="getTime" useGeneratedKeys="true" keyProperty="bid" parameterType="com.example.library.model.Book">
        insert into book(bookname,author)
        values(#{bookname},#{author})
    </insert>
    <select id="getBookAmount" resultType="java.lang.Integer">
        select total from book where bid = #{bid}
    </select>
    <update id="updateBookAmountById">
        update book
        set total = total + 1
        where bid = #{bid}
    </update>
    <update id="updateBookReserveById">
        update book
        set last_reserve = last_reserve - 1
        where bid = #{bid}
    </update>
    <update id="updateBookReserveByBId">
        update book
        set last_reserve = last_reserve + 1
        where bid = #{bid}
    </update>
</mapper>