<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.library.dao.UserDao">
    <select id="findUserByStuidAndPassword" resultType="com.example.library.model.User">
        select * from user where stuid=#{stuid} and password=#{password}
    </select>
    <select id="findAllStu" resultType="com.example.library.model.User">
        select * from user
    </select>
    <insert id="addUser">
        insert into user(username,sex,tel,institute,profession,classname,stuid,password) values (#{username},#{sex},#{tel},#{institute},#{profession},#{classname},#{stuid},#{password})
    </insert>
    <delete id="deleteUser">
        delete from user where id=#{id}
    </delete>
    <insert id="insertUsers">
        insert into user(username,sex,tel,institute,profession,classname,stuid,password,type)
        values
        <foreach collection="users" index="" item="item" separator=",">
            (
            #{item.username,jdbcType=VARCHAR}, #{item.sex,jdbcType=VARCHAR}, #{item.tel,jdbcType=VARCHAR},
            #{item.institute,jdbcType=VARCHAR}, #{item.profession,jdbcType=VARCHAR},
            #{item.classname,jdbcType=VARCHAR}, #{item.stuid,jdbcType=VARCHAR},
            #{item.password,jdbcType=VARCHAR}, #{item.type,jdbcType=VARCHAR}
            )
        </foreach>
    </insert>
    <select id="checkUserExists">
        select 1 from user where username=#{username} and stuid=#{stuid} limit 1
    </select>
</mapper>